body {
  font-family: helvetica;
}
header {
  height: 125px;
  width: 100%;
  background: #2B78E4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 32px;
}

td {
  font-size: 12px;
}

caption {
  font-size: 50px;
  text-align: left;
}

input {
  width: 100%
}

main {
  display: flex;
  justify-content: space-between;
}

#logo {
  width: 60%
}

#sign-in {
  width: 40%;
  display: flex;
}

#sign-up {
  width: 40%;
}