body {
  font-family: "open sans", sans-serif;
}

header {
  height: 125px;
  width: 100%;
  background: #2B78E4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 45px;
}

header p {
  margin-left: 50px;
}

td {
  font-size: 12px;
  padding: 5px;
}

caption {
  font-size: 50px;
  text-align: left;
  margin-bottom: 30px;
}

input {
  width: 100%
}

main {
  display: flex;
  justify-content: space-between;
}

aside {
  width: 60%;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-top: 15%;
  margin-bottom: 20px;
  font-weight: bold;
}

ul {
  list-style: disc;
  margin: auto;
  display: inline-block;
  text-align: left;
  line-height: 3em;
}

li {
  margin-left: 100px;
  font-size: 20px;
}

button {
  height: 50px;
  width: 375px;
  background: green;
  text-align: center;
  font-size: 24px;
  color: white;
  display: block;
}

#home-logo {
  width: 60%
}

#sign-in {
  width: 40%;
  display: flex;
}

#log-in {
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: #9FC5F9;
  color: black;
}

#sign-up {
  width: 40%;
  margin-top: 3%;
}

#sign-up td{
  padding: 20px 20px 20px 0;
}

#birthday-heading {
  font-size: 18px;
  font-weight: bold;
}

.gender {
  width: auto;
  margin-top: 15px;
  margin-bottom: 25px;
}

#about-header {
  height: 65px;
  font-size: 24px;
  display: block;
  position: relative;
} 

#about-searchbar {
  width: 600px;
  margin-left: 50px;
  float: left;
}

#profile-pic {
  width: 40px;
  height: 40px;
  background-color: white;
  float: left;
  margin-left: 20%;
}

#about-logo {
  margin-left: 5px;
  float: left;
  display: inline-block;
}

#profile-name {
  float: right;
  margin-right: 20%;
}

#cover-photo {
  width: 60%;
  height: 350px;
  margin: auto;
  border: 2px solid;
}

#profile-photo-about {
  height: 200px;
  width: 200px;
  border: 2px solid;
  position: relative;
  left: 20px;
  top: 190px;
  background: lightgrey;
}

#about-navbar {
  width: 60%;
  height: 75px;
  border: 2px solid;
  margin: auto;
  border-top: none;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#about-navbar div {
  height: 75px;
  width: 100px;
  border-left: 2px solid;
  border-right: 2px solid;
}

#info {
  width: 60%;
  height: 700px;
  border: 2px solid;
  margin: auto;
}

#info header {
  height: 50px;
  background: lightgrey;
  border-bottom: black 2px solid;
  display: flex;
  justify-content: center;
  padding-right: 20px;
  padding-left: 140px;
  box-sizing: border-box;
}

#info header h1 {
  font-size: 24px;
  margin: auto;
  color: black;
  display: inline-block;
  width: 100px;
  
}

#edit-profile {
  height: 30px;
  width: 110px;
  background: blue;
  color: white;
  font-weight: bold;
  border: black 2px solid;
  padding: 0 5px 0 5px;
  box-shadow: black 3px 3px;
}

#edit-profile p {
  font-size: 14px;
  margin: auto;
}

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}